$wave-colour: #F1F3F9;


.landing-page {
  position: absolute;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff; // Background color of the landing page


  .lowerMargin{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 0;
    background-color: $wave-colour

  }
  .upperMargin{
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    z-index: 2;
    background-color: $wave-colour

  }


  .waveContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; // Ensures the wave is behind all other content

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover; // Ensures SVG covers the entire container
    }
  }

  .waveContainer2 {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1; // Ensures the wave is behind all other content

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover; // Ensures SVG covers the entire container
    }
  }


  .blobContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; // Ensures the blob is behind all other content

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > * { // This ensures that all direct children of .landing-page are above the blob
    position: relative;
    z-index: 1;
  }

  header p {
    font-weight: 500;
    color: #444444;
    margin-bottom: 2.5rem;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & > button {
      width: 18rem;
      justify-content: center;
      background-color: #007FFF;
      color: white;
      border: 1px solid white;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #F7AB0A;
        color: #242424;
      }
    }

    .join-room-code-input {
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.75rem;
      background-color: #ffffff;
      border: 1px solid #ddd9d9;
      height: 3.5rem;

      input {
        height: 100%;
        width: 100%;
        border: none;
        background-color: transparent;
        font-family: "Plus Jakarta Sans", sans-serif;
        color: #ccc;
        font-size: 0.88rem;

        &:focus,
        &:active {
          outline: none;
          color: #F7AB0A;
          border-bottom: 2px solid #F7AB0A;
        }

        &::placeholder {
          color: #777;
        }
      }
    }
  }
}
