@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.code-panel {
  overflow: hidden;
  background-color: #fff;
  border-radius: 1rem;

  .header {
    height: 4.5rem;
    padding: 0 1rem;

    &,
    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .actions {
      gap: 0.5rem;
    }
  }

  .editor {
    font-family: "Space Mono", monospace;
    width: 100% !important;
    background-color: var(--color-neutral-black);
    padding: 1.5rem;
    //height: 100% !important;

    & > div {
      background-color: var(--color-neutral-black);
    }
  }
}

.executionResult {
  background-color: #292c36;
  color: #dcdcdc;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  border-radius: 4px;
  margin-top: 20px;
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;

  &:before {
    content: "▶ "; /* This is a triangle symbol that resembles an arrow */
    color: #33cc33; /* Green color for the arrow */
    font-weight: bold; /* Make the arrow a bit bolder */
    margin-right: 0.5rem; /* Space between the arrow and the text */
    display: inline; /* Make the arrow inline with the text */
  }

  &:before {
    content: "Execution@phaylanx:~$";
    display: block;
    margin-bottom: 10px;
  }

  pre {
    position: relative; /* Position relative for pseudo-elements */
    &:before {
      content: "▶"; /* Unicode for the arrow */
      color: #33cc33; /* Green color for the arrow */
      font-weight: bold; /* Bold for the arrow */
      margin-right: 5px; /* Space between the arrow and the output text */
      display: inline; /* Inline with the output text */
    }
  }

  h3 {
    color: #dcdcdc;
    margin-bottom: 15px;
  }

  .terminalLine {
    display: flex;
    align-items: center;

    .greenArrow {
      content: "▶ "; /* This is a triangle symbol that resembles an arrow */
      color: #33cc33; /* Green color for the arrow */
      font-weight: bold; /* Make the arrow a bit bolder */
      margin-right: 0.5rem; /* Space between the arrow and the text */
      display: inline; /* Make the arrow inline with the text */
    }

    .cursor {
      width: 8px;
      height: 18px;
      background-color: #dcdcdc;
      animation: blink-animation 1.2s steps(5, start) infinite;
      margin-left: 5px;
    }

    @keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
  }
}

.language-select {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-neutral-border);
  position: relative;

  select {
    cursor: pointer;
    height: 2.5rem;
    padding: 0 3rem 0 1rem;
    border: none;
    color: var(--color-neutral-sub-text);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;

    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    z-index: 3;
    background-color: transparent;

    &:active,
    &:focus {
      outline: none;
      text-decoration: none;
    }
  }

  svg {
    right: 1rem;
    position: absolute;
  }

  /* For IE10 */
  select::-ms-expand {
    display: none;
  }
}
